.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 1rem 2.5rem 1rem;
  background-color: rgb(229, 215, 239, 0.5);
}
.contact h2 {
  text-align: center;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 1.8rem;
  color: #696868;
}
.formulario {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 70rem;
}
.inputs {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem; 
}
.labelText {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.57rem;
  color: #696868;
  min-width: 18rem;
}
.inputText {
  /*width: 100%;*/
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 1.57rem;
  color: #696868;
  padding: 0.625rem 0.5rem;
  border: 1px solid rgb(102, 102, 102, 0.4);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}
::placeholder {
  color: rgb(105, 104, 104, 0.7);
}
.botones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.botonGuardar {
  margin-top: 3.5rem;
  background-color: #cde4f4;
  font-weight: 600;
  font-size: 0.9rem;
  line-height: 1.57rem;
  letter-spacing: 0.0625rem;
  color: #696868;
  border: none;
  border: 1px solid rgb(102, 102, 102, 0.4);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  color: #a26eaf;
  padding: 0.625rem 1rem;
  cursor: pointer;
  transition:
    transform 0.5s ease-in-out,
    box-shadow 0.5s ease-in-out;
}
.botonGuardar:hover {
  transform: scale(1.04);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}
/*Para alinear el spinner con el texto*/
.cargando {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.spinner {
  display: inline-block; /*Por defecto es inline entre span y no respeta height y width, por eso pongo inline-bloc*/
  width: 18px;
  height: 18px;
  border: 3px solid #fff;
  border-top-color: transparent;
  border-radius: 50%;
  animation: girar 0.8s linear infinite;
}

@keyframes girar {
  to {
    transform: rotate(360deg);
  }
}
.botones p {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.57rem;
  color: #696868;
  text-decoration: none;
}
.linkRegistro {
  margin-left: 1rem;
  color: #a26eaf;
  text-decoration: none;
}
.error {
  color: red;
  margin-top: 1rem;
}
