.headerNav {
  background: linear-gradient(
    to right,
    rgba(185, 190, 189, 0.8),
    rgb(215, 200, 224),
    rgb(215, 200, 224),
    rgb(215, 200, 224),
    rgb(215, 200, 224),
    rgba(185, 190, 189, 0.8)
  );
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
}
.headerNavList {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 2.5rem;
  justify-content: center;
}
.headerNavList a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 600;
  color: #696868;
}
