.consultar,
.prod,
.cont,
.vaciar,
.compra {
  background-color: #cde4f4;
  font-weight: 600;
  text-align: center;
  border: 1px solid rgb(102, 102, 102, 0.4);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  color: #a26eaf;
  cursor: pointer;
  transition:
    transform 0.5s ease-in-out,
    box-shadow 0.5s ease-in-out;
}
.cont1 {
  background-color: transparent;
  font-weight: 600;
  text-align: center;
  border: 0;
  color: #a26eaf;
  font-size: 1rem;
  line-height: 1;
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 0.2rem;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}
.contCarrito {
  background-color: transparent;
  font-weight: 600;
  text-align: center;
  border: 0;
  color: #a26eaf;
  font-size: 1rem;
  line-height: 1;
  cursor: pointer;
  width: 1rem;
  margin: 0 0.5rem;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}
.consultar:hover,
.prod:hover,
.cont:hover,
.compra {
  transform: scale(1.04);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}
.cont1:hover {
  transform: scale(1.04);
  border-radius: 50%;
  background-color: #ddebf7;
  color: #68a8c4;
}
.consultar {
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0.0625rem;
  padding: 0.625rem 0px;
  width: 10.625rem;
}
.prod {
  font-size: 0.7rem;
  line-height: 1.2rem;
  letter-spacing: 0rem;
  padding: 0.5rem 0px;
  cursor: pointer;
  width: 8rem;
}
.cont {
  font-size: 0.7rem;
  line-height: 1.2rem;
  letter-spacing: 0rem;
  padding: 0rem 1rem;
  cursor: pointer;
  /* width: 2rem;*/
}
.vaciar {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.72rem;
  line-height: 1.2rem;
  letter-spacing: 0rem;
  cursor: pointer;
}
.compra {
  font-size: 1.05rem;
  line-height: 1.2rem;
  padding: 0.5rem 0px;
  cursor: pointer;
  width: 12rem;
}
