.header__estrellas {
  background: linear-gradient(rgb(223, 236, 232, 0.9), rgb(223, 236, 232, 0.6), rgba(229, 215, 239, 0.5), rgba(229, 215, 239, 0.5), rgba(229, 215, 239, 0.5), rgb(223, 236, 232, 0.7)), url(/images/estrellas2.jpeg) center / cover;
  height: 100vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
}
.header__titulo {
  text-align: center;
}
.header__titulo h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 4rem;
  letter-spacing: 0.375rem;
  color: #696868;
}
.header__titulo h2 {
  font-family: "Playfair Display", serif;
  font-weight: 300;
  font-size: 2rem;
  letter-spacing: 0.375rem;
  color: #696868;
  margin-top: 2.5rem;
}
.header__simbolos{
  margin-top: 6.25rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 6.25rem;
}
.header__simbolos1 {
  /*border: 1px solid transparent;*/
  border-radius: 50%;
  padding: 1.125rem;
  background-color: #e0caf1;
}
