.list {
  display: flex;
  flex-direction: column;
  background-color: rgb(229, 215, 239, 0.5);
  border-top: 1px solid #ecc0f7;
}
.list h2 {
  margin: 4rem 0 2rem 0;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 1.8rem;
  color: #696868;
}
.listItems {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 1.57rem;
  color: #696868;
  background-color: #ffffff;
  border: 1px solid rgb(102, 102, 102, 0.4);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  width: 100%;
  max-width: 50rem;
  margin: 2rem auto;
  padding: 0 2rem;
}
.listHeader, .listItems li {
  display: grid;
  grid-template-columns: 320px 120px auto;
  justify-items: center;
  align-items: center;
  padding: 1rem 0;
  gap: 1rem;
}
.listHeader{
  border-bottom: 2px dashed rgba(0, 0, 0, 0.08);
  justify-items: center;
  font-weight: bold;
}
.listItems li {
  list-style: none;
}
.listItems li:not(:last-child){
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.listItemImg {
  display: flex;
  justify-content: center;
  align-items: center;
}
.list img {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 10px;
}
.listItemDescuento p {
  color:#a26eaf;
}
.listBotones {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.error {
  color: red;
  margin-top: 1rem;
}
