/*.cart {
  padding-top: 5.25rem;
}*/
.header {
  background: linear-gradient(
    to right,
    rgba(205, 228, 244, 0.8),
    rgb(215, 200, 240),
    rgb(215, 200, 250),
    rgb(215, 200, 240),
    rgba(205, 228, 244, 0.8)
  );
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header h2 {
  text-align: center;
  font-weight: 600;
  font-size: 1.3rem;
  color: #696868;
  letter-spacing: 0.1rem;
}
.iconClose {
  top: 0.5rem;
  right: 0.5rem;
  position: fixed;
  cursor: pointer;
  filter: contrast(30%);
}
.cart,
.cartEmpty {
  background: linear-gradient(
    to bottom,
    rgba(185, 190, 189),
    rgb(215, 200, 224),
    rgb(215, 200, 224),
    rgb(215, 200, 224),
    rgb(215, 200, 224),
    rgba(185, 190, 189)
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 22vw;
  height: calc(100vh - 5rem);
  border: 1px solid #cac4c4;
  box-shadow: -3px 0px 3px rgba(0, 0, 0, 0.2);
}
.cart {
  justify-content: flex-start;
}
.cartEmpty {
  justify-content: flex-start;
  gap: 3rem;
}
.cart h2,
.cartEmpty h2 {
  text-align: center;
  font-weight: 600;
  font-size: 1.3rem;
  color: #696868;
  letter-spacing: 0.1rem;
}
.cartEmpty h2 {
  margin-top: 5rem;
}
.cartEmpty h4 {
  margin-top: 1rem;
  text-align: center;
  font-weight: 500;
  font-size: 1rem;
  color: #696868;
}
.cartExpl {
  text-align: center;
  font-weight: 500;
  font-size: 1rem;
  color: #a26eaf;
  cursor: pointer;
  text-decoration: none;
}
.cartExpl:hover {
  color: #68a8c4;
}
.cartItems {
  flex: 1;
  overflow-y: auto;
  width: 100%;
}
.cartItem {
  /*display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;*/
  display: flex;
  /*justify-content: space-around;*/
  padding: 1rem 1rem 0 1rem;
}
.cartItemImgPrecio {
  display: flex;
  flex: 1;
  gap: 1rem;
}
.cartItemImg img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 5px;
  font-size: 0.7rem;
  font-weight: 500;
  color: #696868;
}
.cartItemPrecio h4 {
  font-size: 0.9rem;
  font-weight: bold;
  color: #696868;
}
.cartItemPrecio p {
  font-size: 0.7rem;
  font-weight: 500;
  color: #696868;
}
.cartItemContadores {
  display: flex;
  align-items: center;
  /*justify-content: space-between;*/
  width: 5rem;
  height: auto;
  background-color: #cde4f4;
  text-align: center;
  border: 1px solid rgb(102, 102, 102, 0.4);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  color: #a26eaf;
  cursor: pointer;
  transition:
    transform 0.5s ease-in-out,
    box-shadow 0.5s ease-in-out;
}
.cartItemContadores p {
  margin: 0.3rem 0.3rem;
  font-weight: 600;
  font-size: 0.7rem;
  color: #a26eaf;
}
.cartItemDelete {
  /*margin-left: auto;*/
  cursor: pointer;
}
.footer {
  background: linear-gradient(
    to right,
    rgba(205, 228, 244, 0.8),
    rgb(215, 200, 240),
    rgb(215, 200, 250),
    rgb(215, 200, 240),
    rgba(205, 228, 244, 0.8)
  );
  height: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.totalPagar,
.totalValor {
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
}
.totalPagar {
  color: #696868;
}
.totalValor {
  color: #a26eaf;
}
